.change-password-container-fluid {
  position: relative;
  min-height: 50vh;
  height: 100%;
  width: 100%;
}

.change-password-container-fluid form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-password-container-fluid form > .form-group {
  width: 50%;
}
