.post-detail-container {
  position: relative;
  min-height: 55vh;
  width: 70vw;
  top: 50px;
}

.post-detail-path {
  position: relative;
  font-weight: 400;
  font-size: 1.125rem;
  color: #18a0fb;
}

.post-detail-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: justify;
}

.post-detail-info {
  font-size: 1.5rem;
}

.post-detail-content {
  font-size: 1.125rem;
  text-align: justify;
}

.rate {
  font-size: 1.125rem;
}

.more-posts-container {
  width: 70vw;
  display: grid;
  grid-template: 400px / 1fr 1fr 1fr;
  column-gap: 50px;
}
