img {
  height: 100%;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar,
.dropdown-menu {
  background: rgb(130, 148, 198);
  background: radial-gradient(
    circle,
    rgba(130, 148, 198, 1) 0%,
    rgba(151, 197, 195, 1) 50%,
    rgba(175, 164, 198, 1) 100%
  );
}

.nav-link,
.profile-frame {
  border: none !important;
}

.agree-checkbox {
  transform: scale(1.5);
  margin-right: 12px;
}

.text-area {
  resize: none;
  overflow: hidden;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  position: relative;
  border-radius: 10px;
  padding: 5%;
  width: 40vw;
  height: 90vh;
  background: url("/images/register-background.jpg");
  background-size: cover;
}

.blog-logo {
  width: 5vw;
  height: 100%;
}

@media (max-width: 1200px) {
  .blog-logo {
    display: none;
  }
}

.register-container,
.login-container {
  position: relative;
}

.register-container::before,
.login-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.9;
  height: 100vh;
  background: url("/images/register-background.jpg"), repeat-y;
  background-size: cover;
}
