@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("./fonts/Mulish/Mulish-VariableFont_wght.ttf") format("ttf");
}

.font-face-mulish {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
}

.font-face-montserrat {
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
}

@font-face {
  font-family: "Abhaya Libre";
  src: local("AbhayaLibre"), url("./fonts/AbhayaLibre/AbhayaLibre-Regular.ttf") format("ttf");
}

.font-face-abhaya-libre {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
}

.text-area {
  resize: none;
  overflow: hidden;
}
