.container.your-post-container {
  position: relative;
  top: 50px;
  min-height: 55vh;
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
}

.your-post-search-bar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.table-container {
  border-radius: 10px;
  padding: 30px;
  background-color: #f8f8f8;
}

.table-container table {
  width: 100%;
}

.container.your-post-container th {
  text-align: center;
  font-weight: 600;
  color: #5c6e9a;
  cursor: pointer;
}

.container.your-post-container tbody > tr {
  border-bottom: 1px solid #5c6e9a;
}

.container.your-post-container tbody > tr > td:nth-child(2) {
  color: #9ca7c4;
}

.container.your-post-container tbody > tr:last-child {
  border: none;
}

.container.your-post-container td {
  color: #5c6e9a;
  font-weight: 400;
  padding: 0 2vw;
}

.container.your-post-container td:nth-child(2),
.container.your-post-container td:nth-child(3),
.container.your-post-container td:nth-child(4),
.container.your-post-container td:nth-child(5) {
  text-align: center;
}

.container.your-post-container td > div.status-draft {
  cursor: auto;
  background-color: aqua;
  color: #5c6e9a;
  font-weight: 700;
  width: 100%;
}

.container.your-post-container td > div.status-approved {
  cursor: auto;
  background-color: #55e096;
  color: #ab273e;
  font-weight: 700;
  width: 100%;
  font-size: 1rem;
}

.link-post-title:hover,
.link-username:hover {
  color: blue !important;
  text-decoration: underline;
}
